<div class="user-details">
  <img alt="profile_pic" src="/imgs/profile.jpg" class="profile-pic">
  <p>Hi! I am currently seeking a job opportunity as an <b>iOS software engineer</b>.<br><br>I recently finished my Master's in Computer Science at Hanyang University.<br><br>I used to love doing research but, <br><br><b>I'm a person who is more into solving problems that deliver value directly to people.</b></p>
    
  <!--<p style="margin-top:1em; padding-top:1em;"><b>beomwookang@gmail.com</b></p>-->
  <hr style="width:100%;margin-top:4em;margin-bottom:4em;">
  
  <h3 style="margin-top:0em; padding-top:0em;">Recent Projects</h3>

  <p style="margin-top: 5vh; margin-bottom: -7vh;"><b>iOS App: Menu Picker</b>
    <br><br><img alt="app_demo" src="/gifs/demo.gif" class="app-demo">
  </p>

  <ul>
    <li>An app picks the appropriate menu according to a series of randomly-ordered user choices.</li>
    <li>Users can also get a menu suggestion at random, without any choice.</li>
    <li>Skills Used: <b>Swift</b>, <b>UIKit</b>, <b>Lottie</b></li>
    <li>Code: [<a href="https://github.com/beomwookang/iOS_MealPicker">Link</a>]</li>
  </ul>

  <p style="margin-top: 8vh; margin-bottom: -7vh;"><b>Mobile-efficient NAS for Vision Tasks</b>
    <br><br><img alt="nas_overview" src="/imgs/NAS_Overview.png" class="nas-overview"><br>
    <img alt="nas_result" src="/imgs/NAS_Result.png" class="nas-result">
  </p>

  <ul>
    <li>Proposed a Neural Architecture Search(NAS) to search for mobile-efficient ConvNets.</li>
    <li>Searched models outperform SOTA ConvNets in accuracy within the same latency.</li>
    <li>Adopting the MCTS algorithm, total search costs are reduced to 1/20.</li>
    <li>Skills Used: <b>Python</b>, <b>PyTorch</b>, <b>TVM</b>, <b>Shell Script</b></li>
    <li>(Pre-Release) Code: [<a href="https://github.com/beomwookang/MobileHeteroNAS">Link</a>]</li>
  </ul>
  <hr style="width:100%;margin-top:4em;margin-bottom:4em;">


  <h3 style="margin-top:0em; padding-top:0em;">Education</h3>
  <p align="left" class="edu" style="margin-top:2em; padding-top:2em;"><b>Hanyang University</b>, Seoul, South Korea (Current)</p>
  <p align="left" class="edu"style="margin-top:0.1em; padding-top:0.1em;">Master in Computer Science</p>
  <p align="left" class="edu"style="margin-top:0.7em; padding-top:0.7em;"><b>Hanyang University</b>, Seoul, South Korea (2020)</p>
  <p align="left" class="edu"style="margin-top:0.1em; padding-top:0.1em;">Bachelor in Electronic Engineering</p>
  <p align="left" class="edu"style="margin-top:0.7em; padding-top:0.7em;"><b>Virginia Tech</b>, Blacksburg, VA, USA (2019)</p>
  <p align="left" class="edu"style="margin-top:0.1em; margin-bottom:3em; padding-top:0.1em; padding-bottom:3em;">Exchange Student and Summer Internship</p>
  <hr style="width:100%;margin-top:4em;margin-bottom:4em;">

  

  <h3 style="margin-top:0em; padding-top:0em;">Service & Teaching</h3>
  <ul>
    <li style="margin-bottom: 1.5vh;">Peer-Reviewed academic paper submissions at ICML 2022</li>
    <li style="margin-bottom: 1.5vh;">Teaching Assistant: HY12405 Creative Computing, ITE2031 Computer Architecture (2021)</li>
    <li style="margin-bottom: 1.5vh;">Teaching Assistant: CSE4009 System Programming, ENE4001 Miicroprocessors (2020)</li>
    <li style="margin-bottom: 1.5vh;">Buddy Assistance and Korean Tutoring for International Students (2018)</li>
    <li>Served in Army - Joint Security Area (JSA) at Panmunjom (2015-2017)</li>
  </ul>
  <hr style="width:100%;margin-top:4em;margin-bottom:4em;">


  <h3 style="margin-top:0em; padding-top:0em;">Publication</h3>
  <p><b>Enhancing Model Parallelism vis Neural Architecture Search</b></p>
  <p style="margin-top:0em; padding-top:0em; color:#606060;">(<U>Under Review, Modified Title due to Double-Blind Policy</U>)</p>
  <p style="margin-top:0.1em; padding-top:0.1em;">[<a href="https://github.com/beomwookang/MobileHeteroNAS" style="color:#BC8F8F">Pre-Release Code</a>]</p>
  <p style="margin-top:1em;padding-top:1em;"><b>Legion: Tailoring Grouped Neural Execution Consdiering</b></p>
  <p style="margin-top:0em; padding-top:0em;"><b>Heterogeneity on Multiple Edge Devices</b></p>
  <p style="margin-top:0.1em; padding-top:0.1em;">Kyunghwan Choi, Seongju Lee, <b style="color=#B1040E;">Beom Woo Kang</b>, Youngjun Park</p>
  <p style="margin-top:0.1em; padding-top:0.1em;">ICCD 2021</p>
  <p style="margin-top:0.1em; padding-top:0.1em;">[<a href="https://ieeexplore.ieee.org/abstract/document/9643757/" style="color:#BC8F8F">Paper</a>]</p>
  <p style="margin-top:1em;padding-top:1em;"><b>Inference Performance Optimization using Tailored</b></p>
  <p style="margin-top:0em; padding-top:0em;"><b>Neural Network Layer Execution on Heterogeneous Mobile Systems</b></p>
  <p style="margin-top:0.1em; padding-top:0.1em;"><b style="color=#B1040E;">Beom Woo Kang</b>, Kyunghwan Choi, Youngjun Park</p>
  <p style="margin-top:0.1em; padding-top:0.1em;">KCC 2021</p>
  <p style="margin-top:0.1em; padding-top:0.1em;">[<a href="https://www.dbpia.co.kr/pdf/pdfView.do?nodeId=NODE10583267" style="color:#BC8F8F">Paper</a>]</p>
  <p style="margin-top:1em;padding-top:1em;"><b>A Survey on Centrality Metrics and  Their Implications on Network Resilience</b></p>
  <p style="margin-top:0.1em; padding-top:0.1em;">Zelin Wan, Yash Mahajan, <b style="color=#B1040E;">Beom Woo Kang</b>, Terrence Moore, Jin-Hee Cho</p>
  <p style="margin-top:0.1em; padding-top:0.1em;">IEEE Access, 2021</p>
  <p style="margin-top:0.1em; padding-top:0.1em;">[<a href="https://ieeexplore.ieee.org/abstract/document/9471855" style="color:#BC8F8F">Paper</a>][<a style="margin-left=0em!important; color:#BC8F8F;" href="https://github.com/Wan-ZL/Centrality-Metric-Survey">Code</a>]</p>

  <p style="padding-top: 15vh;">
    <div class="header-icons"> 
      <a aria-label="My Youtube" href="https://www.youtube.com/channel/UC4qhefWnzwMrefByc4zu4bw" target="_blank";>
            <img src="imgs/youtube.png" alt="yt_link" style="height:5vh; width:5vh; padding-top: 1vh; padding-right: 4vh;"></a>
      <a aria-label="My News" href="https://blog.naver.com/hyundai-cmk/222431547809" id="SE-82cd0ff4-7139-4bf3-8757-745763141400" target="_blank";>
            <img src="imgs/talk.png" alt="tk_link" style="height:5vh; width:5vh; padding-top: 1vh;"></a>
    </div>
  </p> 
  </div>


</div>
