<div class="user-details">
  <img alt="profile_pic" src="/imgs/profile.jpg" class="profile-pic">
  <h3>Beom Woo Kang</h3>
  <p>{{ site.user_description }}</p>
  <p style="margin-top:1em; padding-top:1em;"><b>beomwookang@gmail.com</b></p>
  <hr style="width:100%;margin-top:4em;margin-bottom:4em;">
  
  <h3 style="margin-top:0em; padding-top:0em;">Research Interests</h3>
  <p>I am broadly interested in building efficient and scalable computer systems, given emerging applications including machine learning and visualization, with multiple perspectives: compiler, computer architecture, and algorithm. In particular, I am very interested in the problems of <b style="color:#0E4A84">optimizing systems for ML</b> algorithms as well as <b style="color:#0E4A84">designing ML algorithms for systems</b> and given resources. Additionally, I feel excited to try applying various conceptual models from different fields of study while solving the problems. My recent work focused on automatically searching for convolutional neural network structures that could be deployed on edge devices while maximizing the utilization of available resources.</p>
  <p style="margin-top:1em; padding-top:1em;">Computer Systems&emsp;&#183&emsp;Machine Learning&emsp;&#183&emsp;Compilers&emsp;&#183&emsp;Heterogeneous System</p>
  <hr style="width:100%;margin-top:4em;margin-bottom:4em;">

  <h3 style="margin-top:0em; padding-top:0em;">Publication</h3>
  <p><b>Adapting Neural Network by Rethinking Model Parallelism</b></p>
  <p style="margin-top:0em; padding-top:0em;"><b>for Heterogeneous Resources on Mobile Architectures</b></p>
  <p style="margin:0.1em 0; padding:0.1em 0;"><b style="color=#B1040E;">Beom Woo Kang</b>, Seongju Lee, Sunghyun Park, Youngkyun Noh, Youngjun Park</p>
  <p style="margin-top:0em; padding-top:0em; color:#606060;">(<U>Under Review, Modified Title due to Double-Blind Policy</U>)</p>
  <p style="margin-top:1em;padding-top:1em;"><b>Legion: Tailoring Grouped Neural Execution Consdiering</b></p>
  <p style="margin-top:0em; padding-top:0em;"><b>Heterogeneity on Multiple Edge Devices</b></p>
  <p style="margin-top:0.1em; padding-top:0.1em;">Kyunghwan Choi, Seongju Lee, <b style="color=#B1040E;">Beom Woo Kang</b>, Youngjun Park</p>
  <p style="margin-top:0.1em; padding-top:0.1em;">ICCD 2021</p>
  <p style="margin-top:0.1em; padding-top:0.1em;">[<a href="https://drive.google.com/file/d/1JvhGFwtVrWgm6ijUlJCeL4W54M1tEi5D/view?usp=sharing" style="color:#BC8F8F">Preprint</a>][<a style="margin-left=0em !important; color:#BC8F8F;" href="https://www.youtube.com/watch?v=bL6suSWggJw">Presentation</a>]</p>
  <p style="margin-top:1em;padding-top:1em;"><b>Inference Performance Optimization using Tailored</b></p>
  <p style="margin-top:0em; padding-top:0em;"><b>Neural Network Layer Execution on Heterogeneous Mobile Systems</b></p>
  <p style="margin-top:0.1em; padding-top:0.1em;"><b style="color=#B1040E;">Beom Woo Kang</b>, Kyunghwan Choi, Youngjun Park</p>
  <p style="margin-top:0.1em; padding-top:0.1em;">KCC 2021</p>
  <p style="margin-top:0.1em; padding-top:0.1em;">[<a href="https://www.dbpia.co.kr/pdf/pdfView.do?nodeId=NODE10583267" style="color:#BC8F8F">Paper</a>]</p>
  <p style="margin-top:1em;padding-top:1em;"><b>A Survey on Centrality Metrics and  Their Implications on Network Resilience</b></p>
  <p style="margin-top:0.1em; padding-top:0.1em;">Zelin Wan, Yash Mahajan, <b style="color=#B1040E;">Beom Woo Kang</b>, Terrence Moore, Jin-Hee Cho</p>
  <p style="margin-top:0.1em; padding-top:0.1em;">IEEE Access, 2021</p>
  <p style="margin-top:0.1em; padding-top:0.1em;">[<a href="https://ieeexplore.ieee.org/abstract/document/9471855" style="color:#BC8F8F">Paper</a>][<a style="margin-left=0em!important; color:#BC8F8F;" href="https://github.com/Wan-ZL/Centrality-Metric-Survey">Code</a>]</p>
  <hr style="width:100%;margin-top:4em;margin-bottom:4em;">

  <h3 style="margin-top:0em; padding-top:0em;">Teaching Assistant</h3>
  <p align="left" class="ta" style="margin-top: 2em; padding-top: 2em;">ITE2031&ensp;<b>Computer Architecture</b>&ensp;(2021)</p>
  <p align="left" class="ta">HY12405 <b>Creative Computing for Engineers</b>&ensp;(2021)</p>
  <p align="left" class="ta">CSE4009 <b>System Programming</b>&ensp;(2020)</p>
  <p align="left" class="ta">ENE4041 <b>Microprocessor Applications</b>&ensp;(2020)</p>
  <hr style="width:100%;margin-top:4em;margin-bottom:4em;">

  <h3 style="margin-top:0em; padding-top:0em;">Education</h3>
  <p align="left" class="edu" style="margin-top:2em; padding-top:2em;"><b>Hanyang University</b>, Seoul, South Korea (Current)</p>
  <p align="left" class="edu"style="margin-top:0.1em; padding-top:0.1em;">Master in Computer Science</p>
  <p align="left" class="edu"style="margin-top:0.7em; padding-top:0.7em;"><b>Hanyang University</b>, Seoul, South Korea (2020)</p>
  <p align="left" class="edu"style="margin-top:0.1em; padding-top:0.1em;">Bachelor in Electronic Engineering</p>
  <p align="left" class="edu"style="margin-top:0.7em; padding-top:0.7em;"><b>Virginia Tech</b>, Blacksburg, VA, USA (2019)</p>
  <p align="left" class="edu"style="margin-top:0.1em; margin-bottom:3em; padding-top:0.1em; padding-bottom:3em;">Exchange Student and Summer Internship</p>

</div>
