<div id="imgbox">
  <img src="imgs/bw_cover.jpg" class="center-fit"></img>
  <div class="header">
      <h1 id="beomwookang">
        <span class="site-title" style="padding-bottom: 1.5vh;">{{ site.username }}</span>
	<!-- <span class="site-description">{{ site.user_title }}</span> -->
      </h1>
      <div class="header-icons">
	<a aria-label="My Scholar" href="https://scholar.google.com/citations?user=NNywnx4AAAAJ&hl=ko&oi=ao" target="_blank";>
            <img src="https://img.icons8.com/material-outlined/96/FFFFFF/google-scholar.png" alt="google-scholar" style="height:4.5vh; width:4.5vh; padding-top: 0.5vh; padding-right: 3vh"></a>
        <a aria-label="My LinkedIn" target="_blank" href="https://www.linkedin.com/in/beomwookang/"><i class="fa fa-linkedin fa-2x" aria-hidden="true" style="color:#FFFFFF; font-size:4vh;"></i></a>
        <a aria-label="My Github" target="_blank" href="https://github.com/beomwookang/"><i class="fa fa-github fa-2x" aria-hidden="true" style="color:#FFFFFF; font-size:4vh; margin-left:4vh;"></i></a>
	<!-- <a aria-label="My Instagram" target="_blank" href="https://www.instagram.com/bam.wooo/"><i class="fa fa-instagram fa-2x" aria-hidden="true" style="color:#FFFFFF; font-size:4vh; margin-left:4vh;"></i></a> -->
        <a aria-label="Send email" href="mailto:beomwookang@gmail.com"><i class="fa fa-envelope fa-2x" style="color:#FFFFFF; font-size:4vh; margin-left:4vh;"></i></a>
      </div>
      <div class="header-links">
        <!-- <a class="link" href="#about" data-scroll>About Me</a> -->
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-arrow-down" aria-hidden="true"></i></a>
</div>
